In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [4]:
data = pd.DataFrame([['A','windy','hot',25],['B','sunny','hot',30],['B','cloudy','cold',18]],columns=['Area','weather','feeling','temperature'])

get_dummies

In [5]:
df=data.copy()
df

  Area weather feeling  temperature
0    A   windy     hot           25
1    B   sunny     hot           30
2    B  cloudy    cold           18

In [6]:
df_dum=pd.get_dummies(df)
df_dum

,temperature,Area_A,Area_B,weather_cloudy,weather_sunny,weather_windy,feeling_cold,feeling_hot
0,25,1,0,0,0,1,0,1
1,30,0,1,0,1,0,0,1
2,18,0,1,1,0,0,1,0

In [7]:

df_dum=pd.get_dummies(df[['Area','weather']])
df_dum

   Area_A  Area_B  weather_cloudy  weather_sunny  weather_windy
0       1       0               0              0              1
1       0       1               0              1              0
2       0       1               1              0              0

In [8]:
df_new=pd.concat([df_dum,df['temperature']],axis=1)
df_new

   Area_A  Area_B  weather_cloudy  weather_sunny  weather_windy  temperature
0       1       0               0              0              1           25
1       0       1               0              1              0           30
2       0       1               1              0              0           18