In [1]:
import pandas as pd

In [2]:
left_df = pd.DataFrame()
right_df = pd.DataFrame()

In [3]:
left_df["title"] = ["The Avengers","Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]

In [4]:
right_df["title"] = ["The Avengers: Infinity War", "Avengers: Endgame", "The Avengers", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5,8.6,8.5,7.3]

In [5]:
left_df

                     title
0             The Avengers
1  Avengers: Age of Ultron
2   Avengers: Infinity War
3        Avengers: Endgame

In [6]:
right_df

                        title  rating
0  The Avengers: Infinity War     8.5
1           Avengers: Endgame     8.6
2                The Avengers     8.5
3     Avengers: Age of Ultron     7.3

In [7]:
pd.merge(left_df,right_df)

                     title  rating
0             The Avengers     8.5
1  Avengers: Age of Ultron     7.3
2        Avengers: Endgame     8.6