In [1]:
import pandas as pd
sName1 =pd.Series(data=['Allen','Jack','Ted','Judy'],name = 'Name',index = ['emp01','emp02','emp03','emp04'])
sAge=pd.Series(data=['22','25','24','27'],name = 'Age',index = ['emp01','emp02','emp03','emp04'])

In [2]:
pd.DataFrame(data=[sName1,sAge])

      emp01 emp02 emp03 emp04
Name  Allen  Jack   Ted  Judy
Age      22    25    24    27

In [3]:
pd.DataFrame(data=[sName1,sAge]).T

        Name Age
emp01  Allen  22
emp02   Jack  25
emp03    Ted  24
emp04   Judy  27