In [1]:
import pandas as pd
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["character"] = ["Joey Tribbiani","Chandler Bing","Ross Geller"]
right_df["cast"] = ["Matt LeBlanc", "Matthew Perry", "David Schwimmer"]

In [2]:
left_df

        character
0  Joey Tribbiani
1   Chandler Bing
2     Ross Geller

In [3]:
right_df

              cast
0     Matt LeBlanc
1    Matthew Perry
2  David Schwimmer

In [4]:
pd.concat([left_df,right_df], axis=1)

        character             cast
0  Joey Tribbiani     Matt LeBlanc
1   Chandler Bing    Matthew Perry
2     Ross Geller  David Schwimmer

In [5]:
pd.concat([left_df,right_df])

        character             cast
0  Joey Tribbiani              NaN
1   Chandler Bing              NaN
2     Ross Geller              NaN
0             NaN     Matt LeBlanc
1             NaN    Matthew Perry
2             NaN  David Schwimmer