In [1]:
import pandas as pd
left_Df = pd.DataFrame()
right_Df = pd.DataFrame()

In [2]:
left_Df["title"] = ["The Avengers","Avengers: Age of Ultron","Avengers: Inginity War"]
left_Df["release_year"] = [2012,2015,2018]

right_Df["title"] = ["The Avengers: Infinity War","Avengers: Endgame","Avengers: Age of Ultron"]
right_Df["rating"] = [8.5,8.6,7.3]

In [3]:
left_Df

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Inginity War          2018

In [4]:
right_Df

                        title  rating
0  The Avengers: Infinity War     8.5
1           Avengers: Endgame     8.6
2     Avengers: Age of Ultron     7.3

In [5]:


print("Inner join:")
pd.merge(left_Df,right_Df)

Inner join:

                     title  release_year  rating
0  Avengers: Age of Ultron          2015     7.3