In [1]:
import pandas as pd

In [2]:
upper_df = pd.DataFrame()
lower_df = pd.DataFrame()
upper_df["character"] = ["Rachel Green","Monica Geller","Phoebe Buffay"]
upper_df["cast"] = ["Jennifer Aniston", "Couteney Cox", "Lisa Kudrow"]

In [3]:
upper_df

       character              cast
0   Rachel Green  Jennifer Aniston
1  Monica Geller      Couteney Cox
2  Phoebe Buffay       Lisa Kudrow

In [4]:
lower_df["character"] = ["Joey Tribbiani","Chandler Bing","Ross Geller"]
upper_df["cast"] = ["Matt LeBlanc", "Matthew Perry", "David Schwimmer"]

In [5]:
upper_df

       character             cast
0   Rachel Green     Matt LeBlanc
1  Monica Geller    Matthew Perry
2  Phoebe Buffay  David Schwimmer

In [6]:
upper_df

       character             cast
0   Rachel Green     Matt LeBlanc
1  Monica Geller    Matthew Perry
2  Phoebe Buffay  David Schwimmer

In [7]:
pd.concat([upper_df, lower_df])

        character             cast
0    Rachel Green     Matt LeBlanc
1   Monica Geller    Matthew Perry
2   Phoebe Buffay  David Schwimmer
0  Joey Tribbiani              NaN
1   Chandler Bing              NaN
2     Ross Geller              NaN

In [8]:
pd.concat([upper_df, lower_df], ignore_index=True)

        character             cast
0    Rachel Green     Matt LeBlanc
1   Monica Geller    Matthew Perry
2   Phoebe Buffay  David Schwimmer
3  Joey Tribbiani              NaN
4   Chandler Bing              NaN
5     Ross Geller              NaN