In [1]:

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
enc=OneHotEncoder()
import pandas as pd
columns = ['Area','weather','feeling','temperature']
data = [
    ['A','windy','hot',25],['B','cloudy','cold',18],['B','sunny','hot',30]
]
df = pd.DataFrame(data=data, columns=columns)
df=df.copy()

df_one=enc.fit_transform(df)

for col in df[['Area','weather','feeling']]:
    df[col]=le.fit_transform(df[col])

df_one=enc.fit_transform(df).toarray()
pd.DataFrame(df_one)

     0    1    2    3    4    5    6    7    8    9
0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0
1  0.0  1.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
2  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0